@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;900&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Mulish', sans-serif;
}

/*@font-face{
	font-family: 'Time new Romans';
	src: url(css/time-new-romans/times-new-roman.ttf);
	font-weight: 100;
	font-style: normal;
}*/

::selection {
    background-color: var(--pink);
    color: #fff;
    text-shadow: none;
}

:root{
	--white-color: #fff;
	--pink: #E82583;
	--white: #fff;
	--grey: #f5f5f5;
	--black1: #222;
	--black2: #999;
	--blue-color: #287bff;
	--black-color: #000;
	--light-gray:#F4F4F4;
	--less-dark-gray:#EBEBEB;
	--yellow-color:#FDCF6F;
	--darkest-blue:#252B42;
	--light-yellow:#FFEADA;
	--light-green:#DDF9E4;
	--light-sky:#E4F0FF;
	--light-pink: rgba(232, 37, 131, 0.13);
	--bg-input-color: #EFEDED;
	/*26/4/2023*/
	--lightest-pink: #E825830D;
	--dark-orange: #CE9019;
	--green-color: #15B16F;
	--gray-table-head: #D9D9D9;
	--skyish-color: #4B60C9BA;
	--less-light-pink: #E8258321;
	--tab-bg-color: #F498C5;
	--red-color: #FD0E0E;
	--play-gray: #959BA5;
	--dark-blue-bg: #4B60C9;
	--payroll-bg: #F1F1F9;
	/*26/4/2023*/
}

body{
	overflow-x: hidden;
}
.btn-create{
	background-color: var(--pink);
	color: #FFFFFF !important;
}
.btn-create:hover{
	background-color: var(--pink);
	color: #FFFFFF !important;
}

/*26/4/2023 start*/
.fs-10{
	font-size: 10px;
}
/*26/3/2023 end*/
.fs-12{
	font-size: 12px;
}
.fs-13{
	font-size: 13px;
}

.fs-15{
	font-size: 15px;
}
.fs-16{
	font-size: 16px;
}

.bg-light-gray{
	background: var(--light-gray) !important;
}

/*25/04/2023 start*/
.bg-input{
	background: var(--bg-input-color) !important;
	box-shadow: -2px 0px 4px 2px #E825831F !important;
}
.bg-card-gray{
	background: var(--bg-input-color) !important;
}
.border-pink{
	border: 1px solid var(--pink) !important;
}

/*25/04/2023 end*/

.bg-pink{
	background: var(--pink) !important;
}
.bg-light-pink{
	background: rgba(232, 37, 131, 0.13);
}
.bg-yellow{
	background: var(--yellow-color) !important;
}
.bg-dark-blue{
	background: var(--darkest-blue) !important;
}

.bg-light-yellow{
	background: var(--light-yellow);
}

.bg-light-green{
	background: var(--light-green);
}

.bg-light-sky{
	background: var(--light-sky);
}
.bg-success{
	background-color: #15B16FBA !important;
}

.container-cust{
	position: relative;
	width: 100%;
}

.navigation{
	position: fixed;
	width: 220px;
	height: 100%;
	background: var(--pink);
	border-left: 5px solid var(--pink);
	transition: .5s;
	overflow: hidden;
	overflow-y: auto;
	margin-top: 15px;
}

/* scrollbar css */
.navigation::-webkit-scrollbar-track
{
	border-radius: 0px;
	background-color: transparent;
}

.navigation::-webkit-scrollbar
{
	width: 0px;
	background-color: transparent;
}

.navigation::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	background-color: transparent;
}
/*scrollbar css end*/

.navigation.active{
	width: 67px;
}

.navigation ul li a .title.active{
	display: none;
}

.navigation ul{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.navigation ul li{
	position: relative;
	width: 100%;
	list-style: none;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	margin-bottom: 10px;
}

/* .navigation ul li:hover, */
.navigation ul li.active{
	background: var(--white);
}

.navigation ul li:nth-child(1){
	margin-bottom: 40px;
	pointer-events: none;
}

.navigation ul li a{
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: var(--white);
}

/* .navigation ul li:hover a, */
.navigation ul li.active a{
	color: var(--pink) !important;
}

.navigation ul li a .icon{
	position: relative;
	display: block;
	min-width: 60px;
	height: 50px;
	line-height: 45px;
	text-align: center;
}

.navigation ul li a .icon ion-icon{
	font-size: 1.35em;
}

.navigation ul li a .title{
	position: relative;
	display: block;
	padding: 0 4px;
	height: 50px;
	line-height: 50px;
	text-align: start;
	white-space: nowrap;
	font-size: 14px;
}


/*curve outside*/

/* .navigation ul li:hover a::before, */
.navigation ul li.active::before{
	content: "";
	position: absolute;
	right: 0;
	top: -50px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: transparent;
	box-shadow: 35px 35px 0 10px var(--white) !important;
	pointer-events: none;
}

/* 
.navigation ul li:hover a::after, */
.navigation ul li.active::after{
	content: "";
	position: absolute;
	right: 0;
	bottom: -50px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: transparent;
	box-shadow: 35px -35px 0 10px var(--white) !important;
	pointer-events: none;
}



/* main */

.main{
	position: relative;
	width: calc(100% - 220px);
	left: 220px;
	min-height: 100vh;
	background: var(--white);
	transition: 0.5s;
	border-left: 20px;
	padding-left: 20px;
}

.main.active{
	width: calc(100% - 80px);
	left: 80px;
}


.toggle{
	position: relative;
	height: 60px;
	display: flex;
	align-items: center;
	font-size: 2.5em;
	cursor: pointer;
}



/*chart css start*/
.graphBox{
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr;
	padding: 20px;
	grid-gap: 30px;
	margin-top: 10px;
	min-height: 200px;
}
.graphBox .box{
	position: relative;
	width: 100%;
	background: #fff;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
/*chart css end*/

.drops-top{
	position: absolute;
    top: 50px;
    right: 10px;
    width: 200px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #287bff;
    z-index: 111;
    display: none;
}


.drops-top:hover{
	background-color: var(--pink);
}

.drops-top:hover a{
	color: white;
}

.imgsize{
	display: block;
	width: 169px;
	height: 57px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}



.img1.active{
	display: none;
}

.w-25s{
	width: 50px;
}

.fs-14{
	font-size: 14px;
}



.shadow-cust{ 
	box-shadow: 4px 4px 10px 0px #1E617A;
}

.shadow-cust-1{
	box-shadow: 0px 0px 1px 0px #0000000A,0px 2px 6px 0px #0000000A,0px 16px 24px 0px #0000000F
}

.fs-w-500{
	font-weight: 500;
}

.width{
	width: 50px;
	height: 50px;
}

.width img{
	width: 25px;
}

.list-claim li{
	padding-left: 40px;
	line-height: 60px;
}

.list-claim li:before{
	content: '';
	position: absolute;
	top: 50%;
	left: 0px;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: var(--pink);
}

/* css by sheeraz khan date 24/04/2023 */
.custom_table thead tr{
	border-radius: 30px !important;
}

.custom_table tbody tr{
	margin-top: 30px !important;
}

.custom_table thead tr th{
	font-size: 12px !important;
}
.btn_create{
	background-color: var(--pink);
	color: #FFFFFF !important;
}
.btn_create:hover{
	background-color: var(--pink);
	color: #FFFFFF !important;
}

.border_bottom{
	border-bottom: 2px solid var(--pink) !important;
}

/* setup card css start from here */
.setup_cards{
	border: 2px solid var(--pink) !important;
}
.setup_cards .setup_cards_left{
	background-color: var(--light-pink) !important;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.setup_cards .setup_cards_left span{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* setup card css end here */

/*26/4/2023*/



.headerbg{
	background: linear-gradient(0deg, rgba(232, 37, 131, 0.46), rgba(232, 37, 131, 0.46)), url(../image/card-head-bg.png);
	border-radius: 10px 10px 0px 0px !important;
	background-size: 100% 100%;
	height: 54px;
	display: flex;
	align-items: center;
	justify-content: end;
}



.bg-green{
	background: var(--green-color) !important;
}

.form-check-input1:checked {
    background-color: var(--blue-color) !important;
    border-color: var(--blue-color) !important;
}

.form-check-input1 {
    width: 1em !important;
    height: 1em !important;
    margin-top: .25em !important;
    padding-left: 1em !important;
}


.overlayByclick{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 0%;
	background-color: rgba(0, 0, 0, .7);
	z-index: 1;
	border-radius: 15px;
	opacity: 0;
	visibility: hidden;
	transition: .5s all;
}

.overlayByclick.active{
	height: 100%;
	opacity: 1;
	visibility: visible;
}

.overlayByclick img{
	width: 40px;
	height: 40px;
}

.gallery{
	display: none;
}

.bg-table-head{
	background: var(--gray-table-head);
}

.btn-skyish-color{
	background: var(--skyish-color) !important;
}

.less-light-pink{
	background: var(--less-light-pink);
}

.btncust{
	padding: 12px 10px;
	height: 40px;
	width: 40px;
}

.btncust img{
	width: 20px;
}

.btncust1{
	width: 120px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btncust::after {
    display: inline-block;
    margin-left: 0em !important;
    vertical-align: 0em !important;
    content: "";
    border-top: 0em solid !important;
    border-right: 0em solid transparent !important;
    border-bottom: 0;
    border-left: 0em solid transparent !important;
    display: none !important;
}

.img-circle2{
	width: 410px;
	height: 410px;
	border-radius: 50%;
	border: 12px solid var(--pink);
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%,-50%);
}

.img-circle2 img{
	width: 390px;
	height: 390px;
	border-radius: 50%;
}

.posrelt{
	right: 0px;
    top: 0px;
    width: 700px;
    height: auto;
    margin-left: auto;
}

.imgsize2{
	display: block;
	width: 700px;
	height: auto;
}

.mainsec{
	margin-top: 220px;
}

.text-black{
	color: var(--black-color) !important;
}

.p-cust{
	padding: 20px 25px;
}

.input-text-cust{
	width: 45%;
	transition: .5s all;
}

.searchbar{
	width: 55%;
	transition: .5s all;
}

.searchknow:hover .input-text-cust{
	width: 30%;
}

.w-50-h-50{
	width: 50px;
	height: 50px;
}

.td-class{
	height: 130px;
	width: 13px;
}

.td-active.active{
	background: var(--light-sky);
	color: var(--pink);
}
.td-position{
	position: absolute;
	bottom: 0px;
	left: 0px;
	border-radius: 0px 200px 20px 0px;
	width: 90%;
	background: var(--pink);
	padding: 3px 10px;
}

.td-position1{
	position: absolute;
	bottom: 0px;
	left: 0px;
	border-radius: 200px 0px 20px 0px;
	width: 100%;
	background: var(--pink);
	padding: 3px 23px;
}

.td-position2{
	position: absolute;
	top: -15px;
	left: 0px;
	border-radius: 50px;
	width: 100%;
	background: var(--pink);
	padding: 3px 23px;
}

.ullist-con .nav-link.active, .nav-pills .show>.nav-link {
    color: var(--bs-nav-pills-link-active-color);
    background-color: var(--pink) !important;
}

.ullist-con .nav-link{
	border: 1px solid var(--gray-table-head) !important;
	color: var(--black-color) 
}

.did-floating-label {
  color:#1e4c82; 
  font-size:13px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:15px;
  top:-9px;
  padding:0 5px;
  background:#fff;
}

.imgsize1 {
    width: 220px;
    transform: translate(32px, -18px);
}

.posrelt {
    right: 0px;
    top: 0px;
    width: 220px;
    height: 220px;
    margin-left: auto;
}

.userdiv {
    position: absolute;
    top: 40px;
    right: 40px;
}

.img-circle1 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid var(--tab-bg-color);
}

.img-circle1 img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid var(--dark-orange);
}

.cardh{
	height: 250px;
}

.cardh img{
	width: 30px;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: '' !important;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: '' !important;
}
/*adjust arrow size*/
.sample-slider [class^="swiper-button-"]{
    width: 55px;
    height: 55px;
}
/*adjust arrow position*/
.sample-slider .swiper-button-next{
    right: -5px;
}
.sample-slider .swiper-button-prev{
    left: -5px;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: -2px !important;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: -2px !important;
}

.pagcust{
	top: 380px !important;
	left: -138px !important;
	width: 400px !important;
}

.pagcust .swiper-pagination-bullet-active{
	background: var(--pink) !important;
	opacity: 1 !important;
}

.pagcust .swiper-pagination-bullet{
	background: var(--light-pink);
	opacity: 1 !important;
}

.pagcust1 .swiper-pagination-bullet-active{
	background: var(--pink) !important;
	opacity: 1 !important;
}

.pagcust1 .swiper-pagination-bullet{
	background: var(--light-pink);
	opacity: 1 !important;
}

.custslide.swiper-slide.swiper-slide-active{
	background: var(--light-pink);
}

.custslide.swiper-slide{
	background: var(--white);
}

.bar1{
	width: 100%;
	height: 6px;
	background: var(--play-gray);
}

.bar2{
	width: 80%;
	height: 6px;
	background: var(--white);
	position: absolute;
	left: 0px;
	top: 0px;
}

.bar3{
	width: 100%;
	height: 6px;
	background: var(--play-gray);
}

.bar4{
	width: 80%;
	height: 6px;
	background: var(--white);
	position: absolute;
	left: 0px;
	top: 0px;
}

.bg-btn-dark-blue{
	background: var(--dark-blue-bg);
}

.slidevideo{
	width: 100%;
	height: 100%;
}

.slidevideo video{
	width: 100%;
	height: 100%;
}

.uploadtobrowser {
    height: 130px;
    background: var(--bg-input-color);
}

.select-c:focus{
	outline: none !important;
	border: 0px !important;
}

.bg-red{
	background: var(--red-color);
}

.fs-12s{
	font-size: 1.5vh;
}

.fs-13s{
	font-size: 1.8vh;
}

.fs-10s{
	font-size: 1.3vh;
}

@media (max-width: 1060px){
	.fs-12s{
		font-size: 1vh;
	}
	.fs-13s{
		font-size: 1.5vh;
	}
	.fs-10s{
		font-size: 1.2vh;
	}
}

/*drop down css 29/5/2023*/

.w-20px{
	width: 16px;
}

.colorchangeone.active{
	background-color: #fff !important;
}

.hr-two{
	display: none !important;
}
.hr-two.active{
	display: block !important;
}

.hr-one.active{
	display: none !important;
}

/*2nd drop*/
.colorchangetwo.active{
	background-color: #fff !important;
}
.hr-two-drop{
	display: none !important;
}
.hr-two-drop.active{
	display: block !important;
}

.hr-one-drop.active{
	display: none !important;
}


/*three drop*/
.colorchangethree.active{
	background-color: #fff !important;
}
.hr-four{
	display: none !important;
}
.hr-four.active{
	display: block !important;
}

.hr-three.active{
	display: none !important;
}

/*four drop*/
.colorchangefour.active{
	background-color: #fff !important;
}
.hr-six{
	display: none !important;
}
.hr-six.active{
	display: block !important;
}

.hr-five.active{
	display: none !important;
}


/*five drop*/
.colorchangefive.active{
	background-color: #fff !important;
}
.hr-eight{
	display: none !important;
}
.hr-eight.active{
	display: block !important;
}

.hr-seven.active{
	display: none !important;
}


/*six drop*/
.colorchangesix.active{
	background-color: #fff !important;
}
.hr-ten{
	display: none !important;
}
.hr-ten.active{
	display: block !important;
}

.hr-nine.active{
	display: none !important;
}


/*seven drop*/
.colorchangeseven.active{
	background-color: #fff !important;
}
.hr-12{
	display: none !important;
}
.hr-12.active{
	display: block !important;
}

.hr-11.active{
	display: none !important;
}


/*eight drop*/
.colorchangeeight.active{
	background-color: #fff !important;
}
.hr-14{
	display: none !important;
}
.hr-14.active{
	display: block !important;
}

.hr-13.active{
	display: none !important;
}


/*nine drop*/
.colorchangenine.active{
	background-color: #fff !important;
}
.hr-16{
	display: none !important;
}
.hr-16.active{
	display: block !important;
}

.hr-15.active{
	display: none !important;
}


/*ten drop*/
.colorchangeten.active{
	background-color: #fff !important;
}
.hr-18{
	display: none !important;
}
.hr-18.active{
	display: block !important;
}

.hr-17.active{
	display: none !important;
}


/*11 drop*/
.colorchange11.active{
	background-color: #fff !important;
}
.hr-20{
	display: none !important;
}
.hr-20.active{
	display: block !important;
}

.hr-19.active{
	display: none !important;
}


/*12 drop*/
.colorchange12.active{
	background-color: #fff !important;
}
.hr-22{
	display: none !important;
}
.hr-22.active{
	display: block !important;
}

.hr-21.active{
	display: none !important;
}


/*13 drop*/
.colorchange13.active{
	background-color: #fff !important;
}
.hr-24{
	display: none !important;
}
.hr-24.active{
	display: block !important;
}

.hr-23.active{
	display: none !important;
}


/*14 drop*/
.colorchange14.active{
	background-color: #fff !important;
}
.hr-26{
	display: none !important;
}
.hr-26.active{
	display: block !important;
}

.hr-25.active{
	display: none !important;
}

/* hr advisor page css start from here */
/* main */

.main{
	position: relative;
	width: calc(100% - 220px);
	left: 220px;
	min-height: 100vh;
	background: var(--white);
	transition: 0.5s;
	border-left: 20px;
	padding-left: 20px;
}

.main.active{
	width: calc(100% - 80px);
	left: 80px;
}


.toggle{
	position: relative;
	height: 60px;
	display: flex;
	align-items: center;
	font-size: 2.5em;
	cursor: pointer;
}




.drops-top{
	position: absolute;
    top: 50px;
    right: 10px;
    width: 200px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #287bff;
    z-index: 111;
    display: none;
}


.drops-top:hover{
	background-color: var(--pink);
}

.drops-top:hover a{
	color: white;
}



.img{
	margin-top: 40px;
	display: none;
}


.img.active{
	display: block;
}

.img1.active{
	display: none;
}


/* css by sheeraz khan date 24/04/2023 */


/*26/4/2023*/



.td-active.active{
	background: var(--light-sky);
	color: var(--pink);
}


.w-65s{
	width: 65%;
}

@media (max-width: 991px){
	.w-65s{
		width: 100%;
	}
}
/* hr advisor page css end  */

/* payroll page css start  */
/* main */

.main{
	position: relative;
	width: calc(100% - 220px);
	left: 220px;
	min-height: 100vh;
	background: var(--white);
	transition: 0.5s;
	border-left: 20px;
	padding-left: 20px;
}

.main.active{
	width: calc(100% - 80px);
	left: 80px;
}


.toggle{
	position: relative;
	height: 60px;
	display: flex;
	align-items: center;
	font-size: 2.5em;
	cursor: pointer;
}



.drops-top{
	position: absolute;
    top: 50px;
    right: 10px;
    width: 200px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #287bff;
    z-index: 111;
    display: none;
}


.drops-top:hover{
	background-color: var(--pink);
}

.drops-top:hover a{
	color: white;
}

.imgsize{
	display: block;
	width: 169px;
	height: 57px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

.img{
	margin-top: 40px;
	display: none;
}


.img.active{
	display: block;
}

.img1.active{
	display: none;
}



/* css by sheeraz khan date 24/04/2023 */


/*26/4/2023*/


.w-count{
	width: 25px;
	height: 25px;
}

.plus{
	display: none;
}

.plusone{
	display: none;
}

.plustwo{
	display: none;
}

.minusthree,
.minus4,
.minus5,
.minus6,
.minus7{
	display: none;
}

.td-active.active{
	background: var(--light-sky);
	color: var(--pink);
}



/* bullet step form css start */

#signUpForm {
    max-width: 100%;
    background-color: #ffffff;
    margin: 40px auto;
    padding: 40px;
/*    box-shadow: 0px 6px 18px rgb(0 0 0 / 9%);*/
    border-radius: 12px;
}
#signUpForm .form-header {
    gap: 5px;
    text-align: center;
    font-size: .9em;
}
#signUpForm .form-header .stepIndicator {
    position: relative;
    flex: 1;
    padding-bottom: 30px;
}
#signUpForm .form-header .stepIndicator.active {
    font-weight: 600;
    color: var(--pink);
}
#signUpForm .form-header .stepIndicator.finish {
    font-weight: 600;
    color: var(--pink);
}
#signUpForm .form-header .stepIndicator::before {
    content: "";
    position: absolute;
    left: 47%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 9;
    width: 20px;
    height: 20px;
    background-color: var(--bg-input-color);
    border-radius: 50%;
    border: 3px solid var(--bg-input-color);
}
#signUpForm .form-header .stepIndicator.active::before {
    background-color: var(--white);
    border: 7px solid var(--pink);
}
#signUpForm .form-header .stepIndicator.finish::before {
    background-color: var(--pink);
    border: 3px solid var(--pink);
}
#signUpForm .form-header .stepIndicator::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 8px;
    width: 100%;
    height: 3px;
    background-color: #f3f3f3;
}
#signUpForm .form-header .stepIndicator.active::after {
    background-color: var(--pink);
}
#signUpForm .form-header .stepIndicator.finish::after {
    background-color: var(--pink);
}
#signUpForm .form-header .stepIndicator:last-child:after {
    display: none;
}
#signUpForm .step {
  display: none;
}
#signUpForm .form-footer{
    overflow:auto;
    gap: 20px;
}

/* bullet step form css end */



.pillcust .nav-link.active, .nav-pills .show>.nav-link{
	background: var(--light-pink) !important;
}

.uploadfilecs{
	height: 350px;
	background: var(--bg-input-color);
}

.uploadfilecs img{
	width: 100px;
}

.tab-bg{
	background: var(--tab-bg-color) !important;
}

.r-tabcust .nav-link.active, .nav-pills .show>.nav-link{
	background: var(--pink) !important;
	color: #fff !important;
}

.r-tabcust .nav-link{
	color: var(--black-color) !important; 
	font-weight: 600;
	background: var(--tab-bg-color);
	box-shadow: -2px 0px 4px 2px #E825831F !important;
}

.bg-red{
	background: var(--red-color);
}

.bar1{
	width: 100%;
	height: 6px;
	background: var(--play-gray);
}

.bar2{
	width: 80%;
	height: 6px;
	background: var(--white);
	position: absolute;
	left: 0px;
	top: 0px;
}

.posrelta{
	right: 0px;
    top: 0px;
    width: 220px;
    height: 220px;
    margin-left: auto;
}

.imgsize1{
	width: 220px;
    transform: translate(32px, -18px);
}
.userdiv{
	position: absolute;
	top: 40px;
	right: 40px;
}



.tabletr tr td{
	position: relative;
}

.tabletr tr td::before{
	content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(228, 240, 255, .7);
    z-index: 1;
    border-radius: 15px;
    opacity: 0;
    visibility: hidden;
    transition: .5s all;
}

.tabletr tr td::after{
	content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    background-image: url(../image/icons/check-circle.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: .5s all;
    transform: translate(-50%, -50%);
}

.tabletr tr td.active::before{
	opacity: 1;
	visibility: visible;
}

.tabletr tr td.active::after{
	opacity: 1;
	visibility: visible;
}

.activeclass{
	position: relative;
	z-index: 11;
}

.widthdep{
	width: 50%;
}

/*filter range slider css start*/
#slider{
	-webkit-appearance: none;
	width: 100%;
	height: 7px;
	outline: none;
	border-radius: 3px;
	background: var(--pink);
}
#slider::-webkit-slider-thumb{
	-webkit-appearance: none;
	width: 48px;
	height: 48px;
	cursor: pointer;
	z-index: 3;
	position: relative;
}
#selector{
	height: 18px;
	width: 18px;
	position: absolute;
	bottom: 2px;
	left: 20%;
	transform: translateX(-50%);
	z-index: 2;
	background-color: var(--pink);
	border-radius: 50%;
}

#Selectvalue{
	width: 48px;
    height: 40px;
    position: absolute;
    top: -50px;
    left: -16px;
    background: transparent;
    border-radius: 4px;
    line-height: 45px;
    display: flex;
    font-size: 13px;
    font-weight: bold;
    color: var(--white);
    align-items: self-end;
    z-index: 1;
    justify-content: center;
}
#Selectvalue::after{
	content: '';
    border-top: 42px solid var(--black-color);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    bottom: -5px;
    left: -5px;
    z-index: -1;
}
/*filter range slider css end*/
.heightcu{
	height: 250px;
}

.heightsml{
	height: 130px;
}

.widtheq{
	width: 30%;
}

.payroll-bg{
	background: var(--payroll-bg) !important;
}


@media(max-width: 991px){
	.widthdep{
		width: 100%;
	}
}
/* calendar css start  */
.calendar {
	max-width: 300px;
	margin: 30px auto;
	padding: 20px;
	box-sizing: border-box;
	background: #ffffff;
	border-radius: 12px;
	border: 1px solid var(--pink);
	box-shadow: 0px 0px 3px #dadada;
  }
  
  .calendar .calendar-dates,
  .calendar .calendar-day-name {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 8px;
  }
  
  .calendar .calendar-dates-day {
	font-family: "Manrope", sans-serif;
	font-size: 13px;
	border: 1px solid #efefef;
	padding: 4px;
	box-sizing: border-box;
	background: #f8f8f8;
	border-radius: 4px;
	color: #333;
  }
  
  .calendar .calendar-dates-day-empty {
	background: none;
	border: 0;
	color: #dcdcdc;
	min-height: 28px;
  }
  
  .calendar .calendar-day-name div {
	text-align: center;
	margin-bottom: 12px;
	font-size: 13px;
	font-weight: 700;
  }
  
  .calendar .calendar-title {
	padding-bottom: 16px;
	text-align: center;
	font-weight: 500;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #ddd;
	margin-bottom: 12px;
  }
  
  .calendar .calendar-dates-day.today-date {
	background: var(--pink);
	color: #fff;
  }
  
  .calendar #prevMonth,
  .calendar #nextMonth,
  .calendar #today {
	padding: 2px 6px;
	box-sizing: border-box;
	font-family: "Manrope", sans-serif;
	font-size: 20px;
	line-height: 20px;
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	cursor: pointer;
	color: #333;
  }
  
  .calendar #today {
	font-size: 13px;
  }
  
  .calendar .calendar-title-text {
	display: flex;
	align-items: center;
	font-size: 14px;
	font-weight: 700;
  }
  
  .calendar .calendar-button-group {
	display: flex;
	align-items: center;
	gap: 8px;
  }
  
  .td-active.active{
	  background: var(--light-sky);
	  color: var(--pink);
  }
 
 
  .seeting-quest{
	  width: 30px;
	  height: 30px;
	  background: var(--pink);
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  padding: 10px;
	  border-radius: 50%;
  }
/* payroll page css end  */

/*company  recruitment page css start  */



.img{
	margin-top: 40px;
	display: none;
}


.img.active{
	display: block;
}

.img1.active{
	display: none;
}



/* css by sheeraz khan date 24/04/2023 */


/*26/4/2023*/


.w-count{
	width: 25px;
	height: 25px;
}

.minusthree,
.minus4,
.minus5,
.minus6,
.minus7{
	display: none;
}



.btncust-tab{
	height: 100px;
}

.pillcust .nav-link.active, .nav-pills .show>.nav-link{
	background: var(--light-pink) !important;
}

.uploadfilecs{
	height: 350px;
	background: var(--bg-input-color);
}

.uploadfilecs img{
	width: 100px;
}

.tab-bg{
	background: var(--tab-bg-color) !important;
}

.r-tabcust .nav-link.active, .nav-pills .show>.nav-link{
	background: var(--pink) !important;
	color: #fff !important;
}

.r-tabcust .nav-link{
	color: var(--black-color) !important; 
	font-weight: 600;
	background: var(--tab-bg-color);
	box-shadow: -2px 0px 4px 2px #E825831F !important;
}

.bg-red{
	background: var(--red-color);
}

.bar1{
	width: 100%;
	height: 6px;
	background: var(--play-gray);
}

.bar2{
	width: 80%;
	height: 6px;
	background: var(--white);
	position: absolute;
	left: 0px;
	top: 0px;
}

.imgsize1{
	width: 220px;
    transform: translate(32px, -18px);
}
.userdiv{
	position: absolute;
	top: 40px;
	right: 40px;
}


.height-width{
	width: 250px;
	height: 250px;
}

@media (max-width: 1199px){
	.height-width{
		width: 100%;
	}
}
/*company  recruitment page css end  */

/* cloen time css start from here  */

.img{
	margin-top: 40px;
	display: none;
}


.img.active{
	display: block;
}

.img1.active{
	display: none;
}

/* css by sheeraz khan date 24/04/2023 */


/*26/4/2023*/


.w-count{
	width: 25px;
	height: 25px;
}


.minusthree,
.minus4,
.minus5,
.minus6,
.minus7{
	display: none;
}


.btncust-tab{
	height: 100px;
}

.pillcust .nav-link.active, .nav-pills .show>.nav-link{
	background: var(--light-pink) !important;
}

.uploadfilecs{
	height: 350px;
	background: var(--bg-input-color);
}

.uploadfilecs img{
	width: 100px;
}

.tab-bg{
	background: var(--tab-bg-color) !important;
}

.r-tabcust .nav-link.active, .nav-pills .show>.nav-link{
	background: var(--pink) !important;
	color: #fff !important;
}

.r-tabcust .nav-link{
	color: var(--black-color) !important; 
	font-weight: 600;
	background: var(--tab-bg-color);
	box-shadow: -2px 0px 4px 2px #E825831F !important;
}

.bg-red{
	background: var(--red-color);
}

.bar1{
	width: 100%;
	height: 6px;
	background: var(--play-gray);
}

.bar2{
	width: 80%;
	height: 6px;
	background: var(--white);
	position: absolute;
	left: 0px;
	top: 0px;
}


.imgsize1{
	width: 220px;
    transform: translate(32px, -18px);
}
.userdiv{
	position: absolute;
	top: 40px;
	right: 40px;
}



.btncust2{
	height: 100px;
	width: 50px;
}

.w-50s{
	width: 50%;
}

@media (max-width: 991px){
	.btncust2{
		width: 100%;
		height: 20px;
		display: flex !important;
	}
	.w-50s{
		width: 3%;
	}
}
/* cleone time css end here */


.img{
	margin-top: 40px;
	display: none;
}


.img.active{
	display: block;
}

.img1.active{
	display: none;
}




/* css by sheeraz khan date 24/04/2023 */



/* setup card css start from here */


/*26/4/2023*/
.text-pink{
	color: var(--pink);
}
.border_bottom-light{
	border-bottom: 1px solid var(--light-pink) !important;
}

.bg-lightest-pink{
	background: var(--lightest-pink);
}

.w-count{
	width: 25px;
	height: 25px;
}


.img-circle{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 3px solid var(--pink);
}

.img-circle img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid var(--dark-orange);
}



.btncust-tab{
	height: 100px;
}

.pillcust .nav-link.active, .nav-pills .show>.nav-link{
	background: var(--light-pink) !important;
}

.uploadfilecs{
	height: 350px;
	background: var(--bg-input-color);
}

.uploadfilecs img{
	width: 100px;
}

.tab-bg{
	background: var(--tab-bg-color) !important;
}

.r-tabcust .nav-link.active, .nav-pills .show>.nav-link{
	background: var(--pink) !important;
	color: #fff !important;
}

.r-tabcust .nav-link{
	color: var(--black-color) !important; 
	font-weight: 600;
	background: var(--tab-bg-color);
	box-shadow: -2px 0px 4px 2px #E825831F !important;
}

.bg-red{
	background: var(--red-color);
}

.bar1{
	width: 100%;
	height: 6px;
	background: var(--play-gray);
}

.bar2{
	width: 80%;
	height: 6px;
	background: var(--white);
	position: absolute;
	left: 0px;
	top: 0px;
}


.imgsize1{
	width: 220px;
    transform: translate(32px, -18px);
}
.userdiv{
	position: absolute;
	top: 40px;
	right: 40px;
}



.slidevideo{
	width: 100%;
	height: 100%;
}

.slidevideo video{
	width: 100%;
	height: 100%;
}

.w-60{
	width: 60px;
}

@media(max-width: 1199px){
	.w-60{
		width: 40px !important;
	}
}
/* cleon assets css end here */

/* performance css start from here */


.img{
	margin-top: 40px;
	display: none;
}


.img.active{
	display: block;
}

.img1.active{
	display: none;
}



/* css by sheeraz khan date 24/04/2023 */



/*26/4/2023*/



.btncust-tab{
	height: 100px;
}

.pillcust .nav-link.active, .nav-pills .show>.nav-link{
	background: var(--light-pink) !important;
}

.uploadfilecs{
	height: 350px;
	background: var(--bg-input-color);
}

.uploadfilecs img{
	width: 100px;
}

.tab-bg{
	background: var(--tab-bg-color) !important;
}

.r-tabcust .nav-link.active, .nav-pills .show>.nav-link{
	background: var(--pink) !important;
	color: #fff !important;
}

.r-tabcust .nav-link{
	color: var(--black-color) !important; 
	font-weight: 600;
	background: var(--tab-bg-color);
	box-shadow: -2px 0px 4px 2px #E825831F !important;
}

.bg-red{
	background: var(--red-color);
}

.bar1{
	width: 100%;
	height: 6px;
	background: var(--play-gray);
}

.bar2{
	width: 80%;
	height: 6px;
	background: var(--white);
	position: absolute;
	left: 0px;
	top: 0px;
}



.imgsize1{
	width: 220px;
    transform: translate(32px, -18px);
}
.userdiv{
	position: absolute;
	top: 40px;
	right: 40px;
}



/*filter range slider css start*/
#slider{
	-webkit-appearance: none;
	width: 100%;
	height: 7px;
	outline: none;
	border-radius: 3px;
	background: var(--pink);
}
#slider::-webkit-slider-thumb{
	-webkit-appearance: none;
	width: 48px;
	height: 48px;
	cursor: pointer;
	z-index: 3;
	position: relative;
}
#selector{
	height: 18px;
	width: 18px;
	position: absolute;
	bottom: 2px;
	left: 20%;
	transform: translateX(-50%);
	z-index: 2;
	background-color: var(--pink);
	border-radius: 50%;
}

#Selectvalue{
	width: 48px;
    height: 40px;
    position: absolute;
    top: -50px;
    left: -16px;
    background: transparent;
    border-radius: 4px;
    line-height: 45px;
    display: flex;
    font-size: 13px;
    font-weight: bold;
    color: var(--white);
    align-items: self-end;
    z-index: 1;
    justify-content: center;
}
#Selectvalue::after{
	content: '';
    border-top: 42px solid var(--black-color);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    bottom: -5px;
    left: -5px;
    z-index: -1;
}
/*filter range slider css end*/

/*filter range slider css start*/
#sliderTwo{
	-webkit-appearance: none;
	width: 100%;
	height: 7px;
	outline: none;
	border-radius: 3px;
	background: var(--pink);
}
#sliderTwo::-webkit-slider-thumb{
	-webkit-appearance: none;
	width: 48px;
	height: 48px;
	cursor: pointer;
	z-index: 3;
	position: relative;
}
#selectorTwo{
	height: 18px;
	width: 18px;
	position: absolute;
	bottom: 2px;
	left: 20%;
	transform: translateX(-50%);
	z-index: 2;
	background-color: var(--pink);
	border-radius: 50%;
}

#SelectvalueTwo{
	width: 48px;
    height: 40px;
    position: absolute;
    top: -50px;
    left: -16px;
    background: transparent;
    border-radius: 4px;
    line-height: 45px;
    display: flex;
    font-size: 13px;
    font-weight: bold;
    color: var(--white);
    align-items: self-end;
    z-index: 1;
    justify-content: center;
}
#SelectvalueTwo::after{
	content: '';
    border-top: 42px solid var(--black-color);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    bottom: -5px;
    left: -5px;
    z-index: -1;
}
/*filter range slider css end*/


/*filter range slider css start*/
#sliderThree{
	-webkit-appearance: none;
	width: 100%;
	height: 7px;
	outline: none;
	border-radius: 3px;
	background: var(--pink);
}
#sliderThree::-webkit-slider-thumb{
	-webkit-appearance: none;
	width: 48px;
	height: 48px;
	cursor: pointer;
	z-index: 3;
	position: relative;
}
#selectorThree{
	height: 18px;
	width: 18px;
	position: absolute;
	bottom: 2px;
	left: 20%;
	transform: translateX(-50%);
	z-index: 2;
	background-color: var(--pink);
	border-radius: 50%;
}

#SelectvalueThree{
	width: 48px;
    height: 40px;
    position: absolute;
    top: -50px;
    left: -16px;
    background: transparent;
    border-radius: 4px;
    line-height: 45px;
    display: flex;
    font-size: 13px;
    font-weight: bold;
    color: var(--white);
    align-items: self-end;
    z-index: 1;
    justify-content: center;
}
#SelectvalueThree::after{
	content: '';
    border-top: 42px solid var(--black-color);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    bottom: -5px;
    left: -5px;
    z-index: -1;
}
/*filter range slider css end*/

/*filter range slider css start*/
#sliderFour{
	-webkit-appearance: none;
	width: 100%;
	height: 7px;
	outline: none;
	border-radius: 3px;
	background: var(--pink);
}
#sliderFour::-webkit-slider-thumb{
	-webkit-appearance: none;
	width: 48px;
	height: 48px;
	cursor: pointer;
	z-index: 3;
	position: relative;
}
#selectorFour{
	height: 18px;
	width: 18px;
	position: absolute;
	bottom: 2px;
	left: 20%;
	transform: translateX(-50%);
	z-index: 2;
	background-color: var(--pink);
	border-radius: 50%;
}

#SelectvalueFour{
	width: 48px;
    height: 40px;
    position: absolute;
    top: -50px;
    left: -16px;
    background: transparent;
    border-radius: 4px;
    line-height: 45px;
    display: flex;
    font-size: 13px;
    font-weight: bold;
    color: var(--white);
    align-items: self-end;
    z-index: 1;
    justify-content: center;
}
#SelectvalueFour::after{
	content: '';
    border-top: 42px solid var(--black-color);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    bottom: -5px;
    left: -5px;
    z-index: -1;
}
/*filter range slider css end*/

/*filter range slider css start*/
#sliderFive{
	-webkit-appearance: none;
	width: 100%;
	height: 7px;
	outline: none;
	border-radius: 3px;
	background: var(--pink);
}
#sliderFive::-webkit-slider-thumb{
	-webkit-appearance: none;
	width: 48px;
	height: 48px;
	cursor: pointer;
	z-index: 3;
	position: relative;
}
#selectorFive{
	height: 18px;
	width: 18px;
	position: absolute;
	bottom: 2px;
	left: 20%;
	transform: translateX(-50%);
	z-index: 2;
	background-color: var(--pink);
	border-radius: 50%;
}

#SelectvalueFive{
	width: 48px;
    height: 40px;
    position: absolute;
    top: -50px;
    left: -16px;
    background: transparent;
    border-radius: 4px;
    line-height: 45px;
    display: flex;
    font-size: 13px;
    font-weight: bold;
    color: var(--white);
    align-items: self-end;
    z-index: 1;
    justify-content: center;
}
#SelectvalueFive::after{
	content: '';
    border-top: 42px solid var(--black-color);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    bottom: -5px;
    left: -5px;
    z-index: -1;
}
/*filter range slider css end*/

.progress-report{
	background: rgba(232, 37, 131, 0.2);
	border: 1px solid #E82583;
	border-radius: 20px;
	padding: 4px 8px;
}
/* performance css end here */

/* e learning css start from here  */


.img{
	margin-top: 40px;
	display: none;
}


.img.active{
	display: block;
}

.img1.active{
	display: none;
}


/* css by sheeraz khan date 24/04/2023 */

/*26/4/2023*/


.btncust-tab{
	height: 100px;
}

.pillcust .nav-link.active, .nav-pills .show>.nav-link{
	background: var(--light-pink) !important;
}

.uploadfilecs{
	height: 350px;
	background: var(--bg-input-color);
}

.uploadfilecs img{
	width: 100px;
}

.tab-bg{
	background: var(--tab-bg-color) !important;
}

.r-tabcust .nav-link.active, .nav-pills .show>.nav-link{
	background: var(--pink) !important;
	color: #fff !important;
}

.r-tabcust .nav-link{
	color: var(--black-color) !important; 
	font-weight: 600;
	background: var(--tab-bg-color);
	box-shadow: -2px 0px 4px 2px #E825831F !important;
}

.bg-red{
	background: var(--red-color);
}

.bar1{
	width: 100%;
	height: 6px;
	background: var(--play-gray);
}

.bar2{
	width: 80%;
	height: 6px;
	background: var(--white);
	position: absolute;
	left: 0px;
	top: 0px;
}



.imgsize1{
	width: 220px;
    transform: translate(32px, -18px);
}
.userdiv{
	position: absolute;
	top: 40px;
	right: 40px;
}



/* 03/5/2023 by sheeraz khan  */
.icon-specific-card{
	width: 85px;
	height: 85px;
	background-color: #f967cf36;
}
.e-learning-card-img{
	width: 278px;
	height: 100%;
}
.e-learning-card-img img{
	width: 100%;
	height: 100%;
}
#elearning-slider{
	position: relative;
}
#elearning-slider .owl-nav{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
#elearning-slider .owl-nav .owl-prev:hover,
#elearning-slider .owl-nav .owl-next:hover{
	background-color: var(--tab-bg-color) !important;
}
#elearning-slider .owl-nav .owl-prev{
	position: absolute;
	left:-5% !important;
	
}
#elearning-slider .owl-nav .owl-next{
	position: absolute;
	right:0% !important;
	
}
#elearning-slider .owl-nav .owl-prev span,
#elearning-slider .owl-nav .owl-next span{
	font-size: 40px;
	font-weight: bold;
}

/* course page css start  */
.course-view-tabs .nav-item .nav-link{
	color: #959BA5;
	padding: 0px !important;
}

.course-view-tabs .nav-item .nav-link.active{
	background-color: transparent;
	font-weight: bold;
	color: #000000 !important;
}

.viewcourse-profile-img2{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.viewcourse-profile-img2 img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.left-border{
	width: 8px;
	height: 80px;
}
.bg-orange{
	background-color: #FD0E0E;
}
/* e learning css end here   */

/* second figma css start from here */


.img{
	margin-top: 40px;
	display: none;
}


.img.active{
	display: block;
}

.img1.active{
	display: none;
}



/* css by sheeraz khan date 24/04/2023 */


/*26/4/2023*/


.btncust-tab{
	height: 100px;
}

.pillcust .nav-link.active, .nav-pills .show>.nav-link{
	background: var(--light-pink) !important;
}

.uploadfilecs{
	height: 350px;
	background: var(--bg-input-color);
}

.uploadfilecs img{
	width: 100px;
}

.tab-bg{
	background: var(--tab-bg-color) !important;
}

.r-tabcust .nav-link.active, .nav-pills .show>.nav-link{
	background: var(--pink) !important;
	color: #fff !important;
}

.r-tabcust .nav-link{
	color: var(--black-color) !important; 
	font-weight: 600;
	background: var(--tab-bg-color);
	box-shadow: -2px 0px 4px 2px #E825831F !important;
}

.bg-red{
	background: var(--red-color);
}

.bar1{
	width: 100%;
	height: 6px;
	background: var(--play-gray);
}

.bar2{
	width: 80%;
	height: 6px;
	background: var(--white);
	position: absolute;
	left: 0px;
	top: 0px;
}


.imgsize1{
	width: 220px;
    transform: translate(32px, -18px);
}
.userdiv{
	position: absolute;
	top: 40px;
	right: 40px;
}



/* 03/5/2023 by sheeraz khan  */
.icon-specific-card{
	width: 85px;
	height: 85px;
	background-color: #f967cf36;
}
.e-learning-card-img{
	width: 278px;
	height: 100%;
}
.e-learning-card-img img{
	width: 100%;
	height: 100%;
}
#elearning-slider{
	position: relative;
}
#elearning-slider .owl-nav{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
#elearning-slider .owl-nav .owl-prev:hover,
#elearning-slider .owl-nav .owl-next:hover{
	background-color: var(--tab-bg-color) !important;
}
#elearning-slider .owl-nav .owl-prev{
	position: absolute;
	left:-5% !important;
	
}
#elearning-slider .owl-nav .owl-next{
	position: absolute;
	right:0% !important;
	
}
#elearning-slider .owl-nav .owl-prev span,
#elearning-slider .owl-nav .owl-next span{
	font-size: 40px;
	font-weight: bold;
}

/* course page css start  */
.course-view-tabs .nav-item .nav-link{
	color: #959BA5;
	padding: 0px !important;
}

.course-view-tabs .nav-item .nav-link.active{
	background-color: transparent;
	font-weight: bold;
	color: #000000 !important;
}

.viewcourse-profile-img2{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.viewcourse-profile-img2 img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.left-border{
	width: 8px;
	height: 80px;
}
.bg-orange{
	background-color: #FD0E0E;
}



/*filter range slider css start*/
#slider{
	-webkit-appearance: none;
	width: 100%;
	height: 7px;
	outline: none;
	border-radius: 3px;
	background: var(--pink);
}
#slider::-webkit-slider-thumb{
	-webkit-appearance: none;
	width: 48px;
	height: 48px;
	cursor: pointer;
	z-index: 3;
	position: relative;
}
#selector{
	height: 18px;
	width: 18px;
	position: absolute;
	bottom: 2px;
	left: 20%;
	transform: translateX(-50%);
	z-index: 2;
	background-color: var(--pink);
	border-radius: 50%;
}

#Selectvalue{
	width: 48px;
    height: 40px;
    position: absolute;
    top: -50px;
    left: -16px;
    background: transparent;
    border-radius: 4px;
    line-height: 45px;
    display: flex;
    font-size: 13px;
    font-weight: bold;
    color: var(--white);
    align-items: self-end;
    z-index: 1;
    justify-content: center;
}
#Selectvalue::after{
	content: '';
    border-top: 42px solid var(--black-color);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    bottom: -5px;
    left: -5px;
    z-index: -1;
}
/*filter range slider css end*/

/*filter range slider css start*/
#sliderTwo{
	-webkit-appearance: none;
	width: 100%;
	height: 7px;
	outline: none;
	border-radius: 3px;
	background: var(--pink);
}
#sliderTwo::-webkit-slider-thumb{
	-webkit-appearance: none;
	width: 48px;
	height: 48px;
	cursor: pointer;
	z-index: 3;
	position: relative;
}
#selectorTwo{
	height: 18px;
	width: 18px;
	position: absolute;
	bottom: 2px;
	left: 20%;
	transform: translateX(-50%);
	z-index: 2;
	background-color: var(--pink);
	border-radius: 50%;
}

#SelectvalueTwo{
	width: 48px;
    height: 40px;
    position: absolute;
    top: -50px;
    left: -16px;
    background: transparent;
    border-radius: 4px;
    line-height: 45px;
    display: flex;
    font-size: 13px;
    font-weight: bold;
    color: var(--white);
    align-items: self-end;
    z-index: 1;
    justify-content: center;
}
#SelectvalueTwo::after{
	content: '';
    border-top: 42px solid var(--black-color);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    bottom: -5px;
    left: -5px;
    z-index: -1;
}
/*filter range slider css end*/


/*filter range slider css start*/
#sliderThree{
	-webkit-appearance: none;
	width: 100%;
	height: 7px;
	outline: none;
	border-radius: 3px;
	background: var(--pink);
}
#sliderThree::-webkit-slider-thumb{
	-webkit-appearance: none;
	width: 48px;
	height: 48px;
	cursor: pointer;
	z-index: 3;
	position: relative;
}
#selectorThree{
	height: 18px;
	width: 18px;
	position: absolute;
	bottom: 2px;
	left: 20%;
	transform: translateX(-50%);
	z-index: 2;
	background-color: var(--pink);
	border-radius: 50%;
}

#SelectvalueThree{
	width: 48px;
    height: 40px;
    position: absolute;
    top: -50px;
    left: -16px;
    background: transparent;
    border-radius: 4px;
    line-height: 45px;
    display: flex;
    font-size: 13px;
    font-weight: bold;
    color: var(--white);
    align-items: self-end;
    z-index: 1;
    justify-content: center;
}
#SelectvalueThree::after{
	content: '';
    border-top: 42px solid var(--black-color);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    bottom: -5px;
    left: -5px;
    z-index: -1;
}
/*filter range slider css end*/

/*filter range slider css start*/
#sliderFour{
	-webkit-appearance: none;
	width: 100%;
	height: 7px;
	outline: none;
	border-radius: 3px;
	background: var(--pink);
}
#sliderFour::-webkit-slider-thumb{
	-webkit-appearance: none;
	width: 48px;
	height: 48px;
	cursor: pointer;
	z-index: 3;
	position: relative;
}
#selectorFour{
	height: 18px;
	width: 18px;
	position: absolute;
	bottom: 2px;
	left: 20%;
	transform: translateX(-50%);
	z-index: 2;
	background-color: var(--pink);
	border-radius: 50%;
}

#SelectvalueFour{
	width: 48px;
    height: 40px;
    position: absolute;
    top: -50px;
    left: -16px;
    background: transparent;
    border-radius: 4px;
    line-height: 45px;
    display: flex;
    font-size: 13px;
    font-weight: bold;
    color: var(--white);
    align-items: self-end;
    z-index: 1;
    justify-content: center;
}
#SelectvalueFour::after{
	content: '';
    border-top: 42px solid var(--black-color);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    bottom: -5px;
    left: -5px;
    z-index: -1;
}
/*filter range slider css end*/

/*filter range slider css start*/
#sliderFive{
	-webkit-appearance: none;
	width: 100%;
	height: 7px;
	outline: none;
	border-radius: 3px;
	background: var(--pink);
}
#sliderFive::-webkit-slider-thumb{
	-webkit-appearance: none;
	width: 48px;
	height: 48px;
	cursor: pointer;
	z-index: 3;
	position: relative;
}
#selectorFive{
	height: 18px;
	width: 18px;
	position: absolute;
	bottom: 2px;
	left: 20%;
	transform: translateX(-50%);
	z-index: 2;
	background-color: var(--pink);
	border-radius: 50%;
}

#SelectvalueFive{
	width: 48px;
    height: 40px;
    position: absolute;
    top: -50px;
    left: -16px;
    background: transparent;
    border-radius: 4px;
    line-height: 45px;
    display: flex;
    font-size: 13px;
    font-weight: bold;
    color: var(--white);
    align-items: self-end;
    z-index: 1;
    justify-content: center;
}
#SelectvalueFive::after{
	content: '';
    border-top: 42px solid var(--black-color);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    bottom: -5px;
    left: -5px;
    z-index: -1;
}
/*filter range slider css end*/

.progress-report{
	background: rgba(232, 37, 131, 0.2);
	border: 1px solid #E82583;
	border-radius: 20px;
	padding: 4px 8px;
}

.review56-card .review56-card-body .review56-card-image{
	width: 150px;
	height: auto;
	border-radius: 50%;
}
.review56-card .review56-card-body .review56-card-image img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.role-list{
	column-count: 3;
}

.role-list li{
	margin-top: 10px;
}

/* 18/05/10123 css start */
.payroll-bg{
	background: var(--payroll-bg) !important;
}

.calendar {
  max-width: 300px;
  margin: 30px auto;
  padding: 20px;
  box-sizing: border-box;
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid var(--pink);
  box-shadow: 0px 0px 3px #dadada;
}

.calendar .calendar-dates,
.calendar .calendar-day-name {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 8px;
}

.calendar .calendar-dates-day {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  border: 1px solid #efefef;
  padding: 4px;
  box-sizing: border-box;
  background: #f8f8f8;
  border-radius: 4px;
  color: #333;
}

.calendar .calendar-dates-day-empty {
  background: none;
  border: 0;
  color: #dcdcdc;
  min-height: 28px;
}

.calendar .calendar-day-name div {
  text-align: center;
  margin-bottom: 12px;
  font-size: 13px;
  font-weight: 700;
}

.calendar .calendar-title {
  padding-bottom: 16px;
  text-align: center;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  margin-bottom: 12px;
}

.calendar .calendar-dates-day.today-date {
  background: var(--pink);
  color: #fff;
}

.calendar #prevMonth,
.calendar #nextMonth,
.calendar #today {
  padding: 2px 6px;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  line-height: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  cursor: pointer;
  color: #333;
}

.calendar #today {
  font-size: 13px;
}

.calendar .calendar-title-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
}

.calendar .calendar-button-group {
  display: flex;
  align-items: center;
  gap: 8px;
}


.td-active.active{
	background: var(--light-sky);
	color: var(--pink);
}


.seeting-quest{
	width: 30px;
	height: 30px;
	background: var(--pink);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-radius: 50%;
}

.sub-card .sub-card-header .sub-card-header-img{
	background: url(../image/pexels-sora-shimazaki-5673502\ \(1\)\ 1.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100px !important;
	display: flex;
	align-items: center;
}
.sub-card .sub-card-header .sub-card-header-img span{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

#portfolio-slider .owl-nav{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
}
#portfolio-slider .owl-nav .owl-prev:hover,
#portfolio-slider .owl-nav .owl-next:hover{
	background-color: var(--tab-bg-color) !important;
}
#portfolio-slider .owl-nav .owl-prev{
	position: absolute;
	left:-5% !important;
	
}
#portfolio-slider .owl-nav .owl-next{
	position: absolute;
	right:-5% !important;
	
}
#portfolio-slider .owl-nav .owl-prev span,
#portfolio-slider .owl-nav .owl-next span{
	font-size: 40px;
	font-weight: bold;
}

.signup_section{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.signup_section_leftside{
	background:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../image/authlogo.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	align-items: center;
	border-radius: 0px 90px 90px 0px;
	padding: 0px 60px;
}

.pink-hr{
	display: block;
	width:100px;
	height:5px;
	background-color: var(--pink) !important;
}



.hero_section_heading{
	color: #FFFFFF;
	font-size: 3rem;
	font-weight: 600;
}
.hero_section_heading span{
	color: var(--pink-color) !important;
}

.btn_explore{
	background-color: var(--pink-color);
	color: #FFFFFF;
}
.btn_explore:hover{
	background-color: var(--pink-color) !important;
	color: #FFFFFF !important;
}
.btn_seemore{
	border: 1px solid #FFFFFF !important;
	color: #FFFFFF !important;
}
.btn_seemore:hover{
	background-color: var(--pink-color) !important;
	color: #FFFFFF !important;
}

.logo-size-log{
	width: 40vh;
}

.width-20{
	width: 20px;
}

.width-50{
	width: 50px;
}

.sqaurelegend{
	width: 20px;
	height: 20px;
}

.bg-shap-lightgreen{
	background: #C4EBDB;
}

.bg-shap-light-pink{
	background: #FDE7F1;
}

.bg-shap-orange{
	background: #FE9E9E;
}

.bg-dark-blue-btn{
	background: #4B60C9;
}

.fs-10-vh{
	font-size: 1.3vh;
}

@media(max-width:768px){
	.hero_section_heading{
		font-size: 1.5rem;
	}
	.hero_section_para{
		font-size: 1rem;
	}

}

/* 18/05/10123 css end */

/*26/5/2023 azeem*/
.width-roundbtn{
	width: 150px;
}

#calendarhideshow{
	position: absolute;
	top: 45px;
	right: 30px;
	opacity: 0;
	visibility: hidden;
	transition: .5s all;
	display: none;
	z-index: 111;
}

#calendarhideshow.active{
	opacity: 1;
	visibility: visible;
	display: block;
}
/* second figma css end here */


.img{
	margin-top: 40px;
	display: none;
}


.img.active{
	display: block;
}

.img1.active{
	display: none;
}



/* css by sheeraz khan date 24/04/2023 */


/*26/4/2023*/



.btncust-tab{
	height: 100px;
}

.pillcust .nav-link.active, .nav-pills .show>.nav-link{
	background: var(--light-pink) !important;
}

.uploadfilecs{
	height: 350px;
	background: var(--bg-input-color);
}

.uploadfilecs img{
	width: 100px;
}

.tab-bg{
	background: var(--tab-bg-color) !important;
}

.r-tabcust .nav-link.active, .nav-pills .show>.nav-link{
	background: var(--pink) !important;
	color: #fff !important;
}

.r-tabcust .nav-link{
	color: var(--black-color) !important; 
	font-weight: 600;
	background: var(--tab-bg-color);
	box-shadow: -2px 0px 4px 2px #E825831F !important;
}

.bg-red{
	background: var(--red-color);
}

.bar1{
	width: 100%;
	height: 6px;
	background: var(--play-gray);
}

.bar2{
	width: 80%;
	height: 6px;
	background: var(--white);
	position: absolute;
	left: 0px;
	top: 0px;
}


.imgsize1{
	width: 220px;
    transform: translate(32px, -18px);
}
.userdiv{
	position: absolute;
	top: 40px;
	right: 40px;
}


/* verfication page css end here */

/* candidate recruitement css start  */
/*chart css start*/
.graphBox{
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 2fr;
	padding: 20px;
	grid-gap: 30px;
	margin-top: 10px;
	min-height: 200px;
}
.graphBox .box{
	position: relative;
	width: 100%;
	background: #fff;
	padding: 20px;
	border-radius: 20px;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}
/*chart css end*/

.drops-top{
	position: absolute;
    top: 50px;
    right: 10px;
    width: 200px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #287bff;
    z-index: 111;
    display: none;
}


.drops-top:hover{
	background-color: var(--pink);
}

.drops-top:hover a{
	color: white;
}


.img{
	margin-top: 40px;
	display: none;
}


.img.active{
	display: block;
}

.img1.active{
	display: none;
}

.circle-bg{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: var(--less-dark-gray);
	padding: 12px;
}


.circlewhite{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	padding: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}



/* css by sheeraz khan date 24/04/2023 */


/*26/4/2023*/

.btncust-tab{
	height: 100px;
}

.pillcust .nav-link.active, .nav-pills .show>.nav-link{
	background: var(--light-pink) !important;
}

.uploadfilecs{
	height: 350px;
	background: var(--bg-input-color);
}

.uploadfilecs img{
	width: 100px;
}

.tab-bg{
	background: var(--tab-bg-color) !important;
}

.r-tabcust .nav-link.active, .nav-pills .show>.nav-link{
	background: var(--pink) !important;
	color: #fff !important;
}

.r-tabcust .nav-link{
	color: var(--black-color) !important; 
	font-weight: 600;
	background: var(--tab-bg-color);
	box-shadow: -2px 0px 4px 2px #E825831F !important;
}

.bg-red{
	background: var(--red-color);
}

.bar1{
	width: 100%;
	height: 6px;
	background: var(--play-gray);
}

.bar2{
	width: 80%;
	height: 6px;
	background: var(--white);
	position: absolute;
	left: 0px;
	top: 0px;
}



.imgsize1{
	width: 220px;
    transform: translate(32px, -18px);
}
.userdiv{
	position: absolute;
	top: 40px;
	right: 40px;
}




/* bullet step form css start */

#signUpForm {
    max-width: 100%;
    background-color: #ffffff;
    margin: 40px auto;
    padding: 40px;
    box-shadow: 0px 6px 18px rgb(0 0 0 / 9%);
    border-radius: 12px;
}
#signUpForm .form-header {
    gap: 5px;
    text-align: center;
    font-size: .9em;
}
#signUpForm .form-header .stepIndicator {
    position: relative;
    flex: 1;
    padding-bottom: 30px;
}
#signUpForm .form-header .stepIndicator.active {
    font-weight: 600;
    color: var(--pink);
}
#signUpForm .form-header .stepIndicator.finish {
    font-weight: 600;
    color: var(--pink);
}
#signUpForm .form-header .stepIndicator::before {
    content: "";
    position: absolute;
    left: 47%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 9;
    width: 20px;
    height: 20px;
    background-color: var(--bg-input-color);
    border-radius: 50%;
    border: 3px solid var(--bg-input-color);
}
#signUpForm .form-header .stepIndicator.active::before {
    background-color: var(--white);
    border: 7px solid var(--pink);
}
#signUpForm .form-header .stepIndicator.finish::before {
    background-color: var(--pink);
    border: 3px solid var(--pink);
}
#signUpForm .form-header .stepIndicator::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 8px;
    width: 100%;
    height: 3px;
    background-color: #f3f3f3;
}
#signUpForm .form-header .stepIndicator.active::after {
    background-color: var(--pink);
}
#signUpForm .form-header .stepIndicator.finish::after {
    background-color: var(--pink);
}
#signUpForm .form-header .stepIndicator:last-child:after {
    display: none;
}
#signUpForm .step {
  display: none;
}
#signUpForm .form-footer{
    overflow:auto;
    gap: 20px;
}

/* bullet step form css end */

.bg-light-gray-1{
	background: var(--grey) !important;
}

.progress {
    --bs-progress-height: .5rem;
}

.progress-bar{
	background: var(--pink);
}

.progressicon{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: var(--pink);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
}

.mainline::before{
	content: '';
	position: absolute;
	left: 102px;
	top: 0px;
	border: 1px solid var(--pink);
	width: 2px;
	height: 100%;
}


.bullet-circle::before{
	content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 5px solid var(--pink);
    padding: 4px;
    background: var(--white);
}

.pillcust1 .nav-link::before{
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 0%;
	background-color: rgba(0, 0, 0, .7);
	z-index: 1;
	border-radius: 15px;
	opacity: 0;
	visibility: hidden;
	transition: .5s all;
}

.pillcust1 .nav-link::after{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	background-image: url('../image/icons/check-circle.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	transition: .5s all;
	transform: translate(-50%, -50%);
}

.pillcust1 .nav-link.active, .nav-pills .show>.nav-link{
	background-color: var(--pink) !important;
}

.pillcust1 .nav-link.active::before, .nav-pills .show>.nav-link{
	opacity: 1;
	visibility: visible;
	height: 100%;
}

.pillcust1 .nav-link.active::after, .nav-pills .show>.nav-link{
	opacity: 1;
	visibility: visible;
}


/*drop down css 29/5/2023*/

.w-20px{
	width: 16px;
}


.heightactive.active{
	height: 100%;
}
/* candidate recruitemnt css end */