.fc-toolbar.fc-header-toolbar{
    display: block !important;
}
.fc-toolbar.fc-header-toolbar .fc-right {
    justify-content: space-between;
    margin-top: 16px;
}
.fc-view-container{
    overflow: auto;
}
.fc-scroller.fc-day-grid-container,
.fc-scroller.fc-time-grid-container{
    height: 100% !important;
}
.fc-dayGrid-view .fc-body .fc-row {
    min-height: 7em !important;
}
.fc-view-container .fc-view{
    width: 1111px !important;
    max-width: 1200px;
    overflow: auto;
}
.fc-button-primary:not(:disabled).fc-button-active:focus, .fc-button-primary:not(:disabled):active:focus,
.fc-button-primary:focus{
    box-shadow: none !important;
}
.fc-button{
    text-transform: capitalize !important;
}

/* daterange start */
.daterangepicker {
    margin-top: 50px;
    border-radius: 8px;
    background: #FFF;
    border: none !important;
    box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
}

.daterangepicker th.next.available,
.daterangepicker th.prev.available {
    color: #828EA5 !important;
}

.daterangepicker .drp-calendar.left {
    position: relative;
}

.daterangepicker .drp-calendar.left::after {
    content: '';
    display: block;
    height: 290px;
    width: 2px;
    position: absolute;
    border-right: 1px solid rgba(40, 97, 244, 0.10);
    top: 0;
    right: -4px;
}

.daterangepicker .drp-buttons {
    border-top: 1px solid rgba(40, 97, 244, 0.10) !important;
    display: flex !important;
    align-items: center;
    justify-content: space-around;
}

.daterangepicker .calendar-table th.month {
    font-size: 16px !important;
    color: #353F52 !important;
    font-weight: bold;

}

.daterangepicker .calendar-table th {
    font-size: 14px !important;
    color: #353F52 !important;
    font-weight: bold;
}

.daterangepicker .calendar-table td {
    height: 36px !important;
    color: #353F52 !important;
    width: 36px !important;
    border-radius: 50% !important;
}

.daterangepicker td.active,
.daterangepicker td.active:hover,
.daterangepicker td.active.end-date.in-range.available {
    background-color: #2861F4 !important;
    color: white !important;
}

.daterangepicker td.in-range {
    background: rgba(40, 97, 244, 0.10) !important;
    color: #2861F4 !important;
}

.daterangepicker span.drp-selected {
    float: left;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background: #FFF;
    font-size: 16px !important;
    padding: 10px 20px !important;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    height: 40px;
    padding: 0px 10px !important;
    display: flex !important;
    align-items: center;
}

.daterangepicker button.cancelBtn.btn.btn-default {
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    background: #FFF;
    padding: 10px 25px !important;
    color: #353F52 !important;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    order: 3;
    height: 40px;
    width: 110px;
    padding: 0px !important;
}

.daterangepicker button.applyBtn.btn {
    border-radius: 8px;
    border: 1px solid #2861F4;
    background: #2861F4;
    padding: 10px 25px !important;
    color: #fff !important;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    height: 40px;
    width: 110px;
    padding: 0px !important;
}

/* daterange end */
.Doctorcalendar_Wrap .fc-toolbar h2 {
    color: #0F172A;
    font-size: 16px;
    font-weight: 600;
}

.Doctorcalendar_Wrap .fc-right {
    display: flex;
    align-items: center;
}

.Doctorcalendar_Wrap .fc-button-primary:not(:disabled).fc-button-active {
    color: #2861f4 !important;
    background-color: #ecf0fd !important;
    border: 1px solid #ecf0fd;
    box-shadow: 0px 1px 2px 0px #1018280d;
    padding: 9px;
    text-decoration: none;
    border-radius: 8px;
    font-family: "Inter-semiBold";
}

.Doctorcalendar_Wrap .fc-button-primary {
    color: #828EA5 !important;
    background-color: #fff !important;
    border-color: none !important;
}

.Doctorcalendar_Wrap .fc-button-primary:hover {
    color: #828EA5 !important;
    background-color: #fff !important;
    border-color: none !important;
}

.Doctorcalendar_Wrap .fc-button-group {
    gap: 10px;
}

.Doctorcalendar_Wrap button.fc-timeGridWeek-button.fc-button.fc-button-primary,
.Doctorcalendar_Wrap button.fc-dayGridMonth-button.fc-button.fc-button-primary,
.Doctorcalendar_Wrap .fc-customWeekButton-button {
    border: none;
    font-weight: 600;
}

.Doctorcalendar_Wrap button.fc-prev-button.fc-button.fc-button-primary,
.Doctorcalendar_Wrap button.fc-next-button.fc-button.fc-button-primary {
    border-radius: 4px;
    border: 1px solid var(--Gray, #D0D5DD);
}

.Doctorcalendar_Wrap .fc-ltr .fc-dayGrid-view .fc-day-top.fc-today .fc-day-number {
    background: #2861F4 !important;
    color: white !important;
    border-radius: 50% !important;
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    padding: 0px !important;
    margin-right: 15px;
    margin-top: 10px;
}

.Doctorcalendar_Wrap a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end, 
.Doctorcalendar_Wrap a.fc-time-grid-event.fc-event.fc-start.fc-end {
    border-radius: 4px;
    border-left: 4px solid #0CB263 !important;
    background: #F4F7FE;
    border: none;
    font-size: 14px;
    color: black;
    font-weight: 600;
    width: 82%;
    margin-left: 4px;
}

.Doctorcalendar_Wrap a.fc-time-grid-event.fc-event.fc-start.fc-end .fc-title::after {
    content: ':';
    background-image: url("../images/doctor/three-dots.svg");
    cursor: pointer;
}

.Doctorcalendar_Wrap .fc-content {
    display: flex;
    flex-direction: column-reverse;
}

.Doctorcalendar_Wrap .fc-content .fc-title {
    display: flex;
    justify-content: space-between;
    width: 95%;
}

.Doctorcalendar_Wrap .fc-time {
    color: #828EA5;
    font-size: 10px;
    display: block;
    margin-top: -4px;
}

/* table */
.Doctorcalendar_Wrap .fc-widget-content .fc-day-grid-container::-webkit-scrollbar {
    width: 0px !important;
}

.Doctorcalendar_Wrap .fc-time-grid-container::-webkit-scrollbar {
    width: 5px !important;

}

.Doctorcalendar_Wrap .fc-time-grid-container::-webkit-scrollbar-thumb {
    background-color: rgba(40, 97, 244, 0.10);
    border-radius: 10px;
}

.Doctorcalendar_Wrap .fc-view-container {
    width: 98% !important;
}

.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
    border-color: transparent;
}
.fc-unthemed th.fc-day-header,
.fc-unthemed thead,
.fc-unthemed td.fc-head-container,
.fc-unthemed td.fc-widget-content{
    border: none !important;
}
.Doctorcalendar_Wrap tbody,
.Doctorcalendar_Wrap td,
.Doctorcalendar_Wrap tfoot,
.Doctorcalendar_Wrap th,
.Doctorcalendar_Wrap thead,
.Doctorcalendar_Wrap tr {
    border-color: none;
    border-style: none;
    border-width: 0;
}

.Doctorcalendar_Wrap .fc-head .fc-row thead .fc-day-header {
    padding: 30px 0;
}

.Doctorcalendar_Wrap .fc-dayGridMonth-view td.fc-day.fc-widget-content.fc-past,
.Doctorcalendar_Wrap .fc-dayGridMonth-view .fc-day.fc-widget-content {
    border-radius: 8px;
    border: 1px solid rgba(40, 97, 244, 0.10) !important;
    background: #FFF;
    padding: 0px 19px;
    margin: 5px;
    width: 107px;
    min-height: 96%;
    display: inline-block;
}

.Doctorcalendar_Wrap .fc-dayGridMonth-view .fc-row table {
    border-left: unset;
    border-right: unset;
    border-bottom: unset;
    border-top: unset;
}

.Doctorcalendar_Wrap .fc-dayGridMonth-view .fc-row:first-child table {
    border-top: unset;
}

.Doctorcalendar_Wrap .fc-ltr .fc-dayGrid-view .fc-day-top .fc-day-number {
    padding: 10px 24px 0 0;
}

/*  */
.Doctorcalendar_Wrap .fc-unthemed td.fc-today {
    background-color: transparent !important;
}

.Doctorcalendar_Wrap .fc-divider.fc-widget-header {
    display: none;
}

.Doctorcalendar_Wrap .fc-timeGridWeek-view .fc-day-grid {
    display: none;
}

.Doctorcalendar_Wrap .fc-time-grid .fc-day.fc-widget-content {
    border-right: 1px solid rgba(40, 97, 244, 0.10) !important;
    border-left: 1px solid rgba(40, 97, 244, 0.10) !important;
}

.Doctorcalendar_Wrap .fc-time-grid .fc-axis.fc-widget-content {
    border-right: 1px solid rgba(40, 97, 244, 0.10) !important;
}

.Doctorcalendar_Wrap .fc-slats .fc-minor,
.fc-minor .fc-widget-content {
    border-top: 1px dotted rgba(40, 97, 244, 0.10) !important;
    border-bottom: 1px solid rgba(40, 97, 244, 0.10) !important;
}

.Doctorcalendar_Wrap .fc-minor .fc-axis.fc-time {
    border-top: none !important;
    border-bottom: none !important;
}

.Doctorcalendar_Wrap td.fc-axis.fc-time.fc-widget-content {
    height: 2.4em;
    padding: 10px 7px 0 0;
}

.Doctorcalendar_Wrap td.fc-axis.fc-time.fc-widget-content span {
    font-size: 14px !important;
}

.Doctorcalendar_Wrap .week-dropdwon {
    position: absolute;
    right: -135px;
    top: 25px;
    background: white;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #F2F4F7;
    background: var(--White, #FFF);

    /* Shadow/lg */
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03), 0px 12px 16px -4px rgba(16, 24, 40, 0.08);
}

.Doctorcalendar_Wrap .week-dropdwon .drp-second {
    color: #DF4949;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
}

.Doctorcalendar_Wrap .week-dropdwon .drp-first {
    color: #353F52;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
}