@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root{
	--pink-color: #E82583;
	--purple-color:#E4CEEE;
	--black-color:#000000;
	--light-pink: #E825834A;
}
body{
	font-family: 'Inter', sans-serif;
}
/* text color css start from here */
.text-pink{
	color: var(--pink-color) !important;
}
/* text color css end here */

/* bg css start from here */
.bg-pink{
	background-color: var(--pink-color);
}
/* bg css end here */

/* btn css start from here */
.btn_explore{
	background-color: var(--pink-color);
	color: #FFFFFF;
}
.btn_explore:hover{
	background-color: var(--pink-color) !important;
	color: #FFFFFF !important;
}
.btn_seemore{
	border: 1px solid #FFFFFF !important;
	color: #FFFFFF !important;
}
.btn_seemore:hover{
	background-color: var(--pink-color) !important;
	color: #FFFFFF !important;
}

/* btn css end here */
/* header css start from here */
.header .navbar{
	background-color: #FFFFFF;
}

.header .navbar .navbar-brand{
	color: var(--purple-color);
	font-size: 1.2rem;
	font-weight: 600;
}

.navbar-nav .nav-item .nav-link{
	color: var(--black-color);
	font-size: 1rem;
	font-weight: 500;
}
.navbar-nav .nav-item .nav-link:hover{
	color: var(--pink-color);
}
.navbar-nav .nav-item .nav-link.active{
	color: var(--pink-color) !important;
}

.header .navbar .navbar-brand span{
	color: var(--pink-color) !important;
}

.login_btn{
	color: var(--pink-color) !important;
	font-size: 1rem;
	font-weight: 700;
}
.login_btn:hover{
	color: var(--pink-color) !important;
}

.btn_started{
	background-color: var(--pink-color) !important;
	color: #FFFFFF !important;
	border-radius: 30px !important;
}
/* header css end here */

/* hero section css start from here */
.hero_section{
	background: url(../images/indexlogo.jpeg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 580px !important;
	display: flex;
	align-items: center;
}

.hero_section_heading{
	color: #FFFFFF;
	font-size: 3rem;
	font-weight: 600;
}
.hero_section_heading span{
	color: var(--pink-color) !important;
}

.hero_section_para{
	font-size: 1.5rem;
	font-weight: 500;
}
.search{
	position: relative;
	max-width: 450px;
	/* width: 450px; */
}
.search input{
  height: 39px;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
  border-radius: 30px;
}
.search input { text-indent: 18px;}

.search button{
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translate(-10px, -50%);
}
@media(max-width:768px){
	.hero_section_heading{
		font-size: 1.5rem;
	}
	.hero_section_para{
		font-size: 1rem;
	}

}

/* hero section css end here */

/* solve hr section css start from here */
.heading{
	font-size: 1.8rem;
	font-weight: 600;

}

@media(max-width:768px){
	.heading{
		font-size: 1.3rem;
	}
}
.solve_hr_section_list{
	column-count: 2;
}
@media(max-width:576px){
	.solve_hr_section_list{
		column-count: 1;
	}
}


.solve_hr_section_list li{
	margin-top: 5px;
}
.solve_hr_section_list li span i{
	color: var(--pink-color) !important;
	font-size: 1.5rem;
}
/* solve hr section css end here  */

/* third section css start from here */
.third_section{
	background: url(../images/thirdsec_bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: auto !important;
}
.third_section .third_section_list{
	background-color: var(--pink-color) !important;
	border-radius: 20px;
}
.third_section .third_section_list li{
	margin-top: 12px;;
}

.third_section .third_section_list li span img{
	width: 30px;
	height: 30px;
}
.third_section .third_section_list li span + span{
	color: #FFFFFF;
}
/* third section css end here */

/* case study section css start from here */
.item-card{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: auto;
	border-radius: 40px;
}

.caseone{
	background: url(../images/case1.jpg);
}
.casetwo{
	background: url(../images/case2.jpg);
}
.casethree{
	background: url(../images/case3.jpg);
}
.casefour{
	background: url(../images/case4.jpg);
}
.casestudy_card .casestudy_card_header{
	border-bottom: 3px solid var(--pink-color) !important;
}
.casestudy_card .casestudy_card_header span{
	border-top-left-radius: 30px;
}

.owl-dots .owl-dot.active span{
	background-color: var(--pink-color) !important;
}
/* case study section css end here  */

/* footer section css start from here */
.footer_section{
	background-color: rgba(48, 45, 45, 0.96);
}

.footer_heading{
	color: var(--purple-color);
}
.footer_heading span{
	color: var(--pink-color);
	letter-spacing: 0.5px;
}

.footer_social_list{
	display: inline-flex;
}

.footer_social_list li:not(:first-child){
	margin-left: 10px;
}

.footer_social_list li a span{
	background-color: var(--pink-color) !important;
	width: 30px !important;
	height: 30px !important;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF !important;
	opacity: 0.6;
}

.footer_section .footer_section_list li{
	margin-top: 10px;
}
.footer_section .footer_section_list li span img{
	width: 25px;
	height: 25px;
}
.footer_section .footer_section_list li span + span{
	color: #FFFFFF;
}
/* footer section css end here */

/* signup pages css start from here */
.signup_section{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.signup_section_leftside{
	background:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/signup1.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	display: flex;
	align-items: center;
	border-radius: 0px 90px 90px 0px;
	padding: 0px 60px;
}

.pink-hr{
	display: block;
	width:100px;
	height:5px;
	background-color: var(--pink-color) !important;
}

/*azeem 11/5/2023*/
.firstimg{
	width: 280px;
}

.dots{
	width: 200px;
	margin-left: auto;
}

.secondimg{
	width: 200px;
}

.thirdimg{
	margin-left: auto;
	width: 250px;
}

.w-30s{
	width: 30px;
}

.widthsear{
	width: 48px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center
}

.fs-12{
	font-size: 12px;
}

.inputsar{
	padding: 14px 10px;
	width: 50%;
	margin-left: auto;
}

.possearchbar{
	position: absolute;
	top: 18%;
	right: 10px;
	width: 100%;
}

::placeholder{
	color: #000 !important;
}

.fs-14{
	font-size: 14px;
}

.checkpost{
	width: 50%;
	margin-left: auto;
	position: absolute;
	bottom: 170px;
	right: -10px;
	z-index: 111;
}

.w-80s{
	width: 80px;
}

.marginleft{
	margin-left: -20px;
}

.groupphoto{
	position: absolute;
  bottom: -22px;
  left: 10px;
  background: #fff;
  padding: 10px;
  border-radius: 12px;
}

.bg-swiper::after{
	content: '';
	position: absolute;
	right: 0px;
	top: -50px;
	height: 70vh;
	width: 60%;
	margin-left: auto;
	background-color: var(--light-pink);
}

.column-line::before{
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 2px;
	height: 100%;
	background-color: var(--pink-color);	
}

.stepslist{
	width: 45px;
	height: 45px;
	background-color: var(--pink-color);
	position: absolute;
	left: -22px;
	top: 0px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.titleofjob{
	position: absolute;
	left: 0px;
	bottom: 20px;
	border-radius: 8px;
	background-color: var(--pink-color);
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.border-pink{
	border: 2px solid var(--pink-color);
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
    content: '' !important;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
    content: '' !important;
}

.swiper-arrow-cs{
    right: -30px !important;
}

.p-12{
	padding: 10px 12px !important;
}

.imgdisplay,
.imgdisplay1,
.imgdisplay2,
.imgdisplay3,
.imgdisplay4{
	width: 20px;
    margin-top: -4px;
    display: none;
    transition: .5s all;
}

.collaspE1,
.collaspE2,
.collaspE3,
.collaspE4{
	display: none;
	transition: .5s all
}

.inputheightwidt{
	width: 50px;
	height: 70px;
}

.btncustrounded{
	width: 160px;
	padding: 10px 10px;
	display: block;
	text-align: center;
}

.bg-sky-dark{
	background-color: #1C9CB8;;
}

.bg-green-light{
	background-color: #59C993;
}

@media (max-width:600px){
	.bg-swiper::after{
		display: none;
	}
}

@media (min-width:601px) and (max-width: 991px){
	.bg-swiper::after{
		top: -20px;
	}
}